<div id="<%= dom_id trip %>">
  <p>
    <strong>User:</strong>
    <%= trip.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= trip.title %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= trip.image_url %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= trip.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= trip.end_time %>
  </p>

</div>
