<div id="<%= dom_id place %>">
  <p>
    <strong>Trip:</strong>
    <%= place.trip_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= place.address %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= place.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= place.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= place.image_url %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= place.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= place.end_time %>
  </p>

</div>
